{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us - Adwiti
{% endblock %}
{% block content %}
<div class="about">
  <h2 class="title mission"><span>Our Mission</span>
    To make presentations more interesting and easier to understand
  </h2>
  <p class="a-info">
    Throughout the world, ideas are valued the most and considered to reflect the person. They can make or break your day. Therefore, it is imperative that the idea reaches the audience in the exact manner you intend, if not in a way that is unique, appealing and attention worthy.
    We at Adwiti are on a mission to ease the presentation process through an interactive video presentation technique so that the ideas can be easily conveyed to everyone.
  </p>
  <h2 class="title red">How we started</h2>
  <p class="a-info" style="margin-top: .5rem;">
    We are a group of IITians who are passionate about solving problems using our technological focus and capabilities. It begins with our founders' thirst for a better world, which fuelled the ideas and innovation that we have created. The product that is created has the potential to redefine our world in terms of conveying concepts, so founders claim it is worth taking the risk.
  </p>
  <h2 class="title red">Our Values</h2>
  <div class="values">
    <p class="a-info">
      <strong>Innovation</strong>: We bring imagination and technology together to create innovative products. </p>
    <p class="a-info">
      <strong>Teamwork</strong>: We work together, across boundaries, to meet the needs and to help our users win.
    </p>
    <p class="a-info"><strong>Passion</strong>: we are committed by heart and mind.</p>
    <p class="a-info"><strong>User Commitment</strong>: We develop relationships that make a positive difference in our users' lives.</p>
    <p class="a-info"><strong>Quality</strong>: We provide outstanding product and unsurpassed service that, together, deliver premium value to our users.</p>
    <p class="a-info">
      <strong>Respect for People</strong>: We value our people, encourage their development and reward their performance.</p>
    <p class="a-info">
      <strong>Personal Accountability</strong>: We are personally accountable for delivering on our commitments.
    </p>
  </div>
  {% include 'team.html' %}
</div>
{% endblock %}