{% load static %}
<div class="features" id="feat">
  <h2 class="title sm center">See Adwiti in Action</h2>

  <center>

    <div class="iframe-container">

      <iframe src="https://www.youtube.com/embed/yIyZGJZKoXo?playlist=GUwih-yIyZGJZKoXo=1" title="YouTube video player"
        rel="0" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>

    </div>
  </center>



  <div class="steps">
    <div class="bg">
      {% comment %} <span>SIMPLE STEPS</span> {% endcomment %}
    </div>
    <ol class="lists">
      <li>
        <div>
          <h3><span>1</span>Sign Up</h3>
          <p>Sign in and let Adwiti Simplify the complexity of your idea</p>
        </div>
      </li>
      <li>
        <div>
          <h3><span>2</span>Edit</h3>
          <p>Make your presentation a perfect fit for what your audience want.</p>
        </div>
      </li>
      <li>
        <div>
          <h3><span>3</span>Connect</h3>
          <p>Present your ideas with Adwiti to have a greater impact on your audience.</p>
        </div>
      </li>
    </ol>
  </div>
  {% comment %} <div class="illust-bg">
    <div><img src="{% static 'images/homebg4.png' %}" alt="Adwiti"></div>
    <h2 class="title center">Do more of <span>what you do best</span></h2>
    <p>With designing hassles and interruptions gone, your day is cleared for accomplishment.</p>
  </div> {% endcomment %}
  <div class="ideas">
    <p class="label">Step 1</p>
    <h2 class="title">Bring in your ideas</h2>
  </div>
  <div class="connects">
    <div class="card">
      <img src="{% static 'images/icon-handshake.svg' %}" alt="home">
      <p>Connect better with your audience by enhancing video presentation</p>
    </div>
    <div class="card">
      <img src="{% static 'images/icon-presentation.svg' %}" alt="home">
      <p>Explain things better and easily using Adwiti's user interface</p>
    </div>
    <div class="card">
      <img src="{% static 'images/icon-const.svg' %}" alt="home">
      <p>Present seamlessly with Adwiti to convey the concept with a deeper impact</p>
    </div>
  </div>
  <div class="ideas">
    <p class="label">Step 2</p>
    <h2 class="title">Present your ideas</h2>
  </div>
  <div class="connects">
    <div class="card">
      <img src="{% static 'images/icon-connect.svg' %}" alt="home">
      <p>User Friendly Interface that helps to explore all the options with no hassle</p>
    </div>
    <div class="card">
      <img src="{% static 'images/icon-settings.svg' %}" alt="home">
      <p>Customise the way you present your ideas with various options</p>
    </div>
    <div class="card">
      <img src="{% static 'images/icon-time.svg' %}" alt="home">
      <p>Minimal preparation time to make the presentation in the best way.</p>
    </div>
  </div>
  <div class="make-it-easy">
    <h2 class="title center">Make it easy with <span>Adwiti</span></h2>
  </div>
</div>