{% load static %}
<div class="review-container">
  <hr class="rule">
  <h2 class="title center">What they're saying about Adwiti</h2>
  <div class="reviews">
    <div class="review">
      <div class="reviewer-image" style="background-image: url({% static 'images/reviewer1.png' %})">
      </div>
      <div class="reviewer">
        <div>
          <h2>Shrin Goyal</h2>
          <p>IIT Kharagpur</p>
        </div>
      </div>
      <div class="review-quote">
        “Design Sheets is a great initiative, and would prove to be highly useful for various architecture students, firms and even beyond. The various templates they offer are simple yet apt for the job with multiple options. With an interface that is easy to understand, online sharing, inbuilt presentation techniques makes the workflow much more efficient.”
      </div>
    </div>
    <div class="review">
      <div class="reviewer-image" style="background-image: url({% static 'images/reviewer2.png' %})">
      </div>
      <div class="reviewer">
        <div>
          <h2>Manpreet Singh</h2>
          <p>IIT Kharagpur</p>
        </div>
      </div>
      <div class="review-quote">
        “Design Sheets is a great initiative, and would prove to be highly useful for various architecture students, firms and even beyond. The various templates they offer are simple yet apt for the job with multiple options. With an interface that is easy to understand, online sharing, inbuilt presentation techniques makes the workflow much more efficient.”
      </div>
    </div>
  </div>
</div>