{% load static %}
<div class="review-container">
  <hr class="rule">
  <h2 class="title center">What they're saying about Adwiti</h2>
  <div class="reviews">
    <div class="review">
      <div class="reviewer-image" style="background-image: url({% static 'images/reviewer-3.png' %})">
      </div>
      <div class="reviewer">
        <div>
          <h2>Dinesh S</h2>
          <p>Professional</p>
        </div>
      </div>
      <div class="review-quote">
        “Adwiti is a user friendly presentation platform in recent times. It gives the feel of live interaction with people and its benefits are not restricted to one particular field.”
      </div>
    </div>
    <div class="review">
      <div class="reviewer-image" style="background-image: url({% static 'images/reviewer-4.png' %})">
      </div>
      <div class="reviewer">
        <div>
          <h2>John Victor</h2>
          <p>Student</p>
        </div>
      </div>
      <div class="review-quote">
        “With its interface, Adwiti has changed how presentations are delivered by connecting with the audience and drawing their attention.”
      </div>
    </div>
  </div>
</div>