{% load static %}
<div class="team-container">
  <h2 class="title center">Our Fam</h2>
  <div class="team">
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/devaraj-s-770a94182/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/devaraj-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Devaraj S</p>
          <p class="position">Co-founder & CEO</p>
        </div>
      </a>
    </div>
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/soumya-tarafder-50922319b/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/soumyo-imp.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Soumya Tarafder</p>
          <p class="position">Co-founder & CTO</p>
        </div>
      </a>
    </div>
  </div>

  <div class="team">
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/kiran-mandepudi-95a6321a6/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/kiran-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Kiran Mandepudi</p>
          <p class="position">Business & Marketing Head</p>
        </div>
      </a>
    </div>
    <div class="team-mate">
      <!-- <a href="https://www.linkedin.com/in/devaraj-s-770a94182/" style="text-decoration: none; color: white;"
        target="blank"> -->
      <img src="{% static 'images/Page3_arr_img4.png' %}" alt="">
      <div class="team-mate-info">
        <p class="name">Sourav K Sanjeev</p>
        <p class="position">UI/UX Designer</p>
      </div>
      <!-- </a> -->
    </div>

    <div class="team-mate">
      <a href="https://www.linkedin.com/in/anudeep-ramteke-b25043196/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/anudeep-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Anudeep Ramteke</p>
          <p class="position">Graphic Designer</p>
        </div>
      </a>
    </div>
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/patini-vishnuvardhan-92ba561b6/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/patini-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Patini VishnuVardhan</p>
          <p class="position">Business Growth</p>
        </div>
      </a>
    </div>


  </div>

  <div class="team">
    <div class="team-mate">
      <!-- <a href="https://www.linkedin.com/in/devaraj-s-770a94182/" style="text-decoration: none; color: white;"
        target="blank"> -->
      <img src="{% static 'images/Page3_arr_img3.png' %}" alt="">
      <div class="team-mate-info">
        <p class="name">Hari Ram</p>
        <p class="position">Software Developer (Intern)</p>
      </div>
      <!-- </a> -->
    </div>
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/nitish-bpns/" style="text-decoration: none; color: white;" target="blank">
        <img src="{% static 'images/nitish-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Nitish Kumar</p>
          <p class="position">Web Developer (Intern)</p>
        </div>
      </a>
    </div>

    <div class="team-mate">
      <a href="https://www.linkedin.com/in/shubham-1959a0201/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/subham-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Shubham</p>
          <p class="position">Business Growth (Intern)</p>
        </div>
      </a>
    </div>
    <div class="team-mate">
      <!-- <a href="https://www.linkedin.com/in/devaraj-s-770a94182/" style="text-decoration: none; color: white;"
        target="blank"> -->
      <img src="{% static 'images/sumit-img.png' %}" alt="">
      <div class="team-mate-info">
        <p class="name">Sumit</p>
        <p class="position">Business Growth (Intern)</p>
      </div>
      <!-- </a> -->
    </div>
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/nidam-jha-4b7a621b0/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/nidam-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Nidam Kumar Jha</p>
          <p class="position">Business Growth (Intern)</p>
        </div>
      </a>
    </div>
    <div class="team-mate">
      <a href="https://www.linkedin.com/in/joshua-nikhil-k-b2235596/" style="text-decoration: none; color: white;"
        target="blank">
        <img src="{% static 'images/nikhil-img.png' %}" alt="">
        <div class="team-mate-info">
          <p class="name">Joshua Nikhil K</p>
          <p class="position">Graphic Designer (Intern)</p>
        </div>
      </a>
    </div>
  </div>

</div>